# cd submoduleTest
# git submodule init  初始化子项目
# git submodule update 对子项目获取远程项目中最新的状态

[submodule "qq-music-api"]
	path = src/js/music-project/qq-music-api
	url = https://github.com/Rain120/qq-music-api.git
[submodule "NeteaseCloudMusicApi"]
	path = src/js/music-project/NeteaseCloudMusicApi
	url = https://github.com/Binaryify/NeteaseCloudMusicApi.git

[submodule "react-native-animated-todo"]
	path = src/js/ReactNative/react-native-animated-todo
	url = https://github.com/craftzdog/react-native-animated-todo.git

[submodule "react"]
	path = src/js/react/react
	url = https://github.com/facebook/react.git

[submodule "react-router"]
	path = src/js/react/react-router
	url = https://github.com/remix-run/react-router.git