/**
 * Flexible background positioning
 * via extended background-position
 */

 .box{
	background: url(http://csssecrets.io/images/code-pirate.svg)
	            no-repeat bottom right #58a;
	background-origin: content-box;
	
	/* Styling */
	max-width: 10em;
	min-height: 5em;
	padding: 10px;
	color: white;
	font: 100%/1 sans-serif;
}

.triangle{

	width: 0;
	height: 0;
	border-bottom-width: 50px;
	border-bottom-style: solid;
	border-bottom-color: blue;
}